/*
    Folha de estilo do site one page HTML5 e CSS3
    @author Celso Gonçalves
*/

/* Importação (google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS RESET */
*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* Layout */
.Container{
  margin: 0 auto;  /* centraliza o conteudp da tela */
  background-color: #ff7700;
}

 /* @media é usado para adaptar o conteudo ao tamanho da tela */

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    /* Layout */
    .Container {
      max-width: 720px;
    }
  
    /* Destaque */
    main h1 {
      font-size: 5.5em;
    }
  
    main h2 {
      font-size: 2em;
    }
  }
  
  /* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  @media (min-width: 992px) {
    /* Layout */
    .Container {
      max-width: 960px;
    }
  }
  
  /* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  @media (min-width: 1200px) {
    /* Layout */
    .Container {
      max-width: 1140px;
    }

 /* Cabeçalho */
  header {
    height: 120px;
  }

  #logo img {
    width: 189px;
    height: 189px;
    margin-top: 30px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 40px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a {
    color: #343538;
  }

  nav ul li a:hover {
    color: #c00000;
  }

  /* Destaque */
  main {
    height: 70vh;
  }

  /* Sobre */
  #sobre {
    background-attachment: fixed;
  }

  #destaqueSobre {
    display: inline;
  }

  #destaqueSobre img {
    border-radius: 50%;
    margin-right: 50px;
  }

  /* One page */
  .Flex3 {
    flex-direction: row;
    align-items: center;
  }

  /* Wireframe */
  #wireframe {
    background-attachment: fixed;
  }

  #wireframe span {
    display: inline;
  }

  #qrcode {
    display: inline;
  }

  #qrcode img {
    width: 225px;
    height: 225px;
  }

  /* Rodapé */
  .Flex6 {
    flex-direction: row-reverse;
  }

  address {
    padding-top: 50px;
  }

  #iconeLocal {
    display: inline;
  }

  #iconeMapa {
    display: none;
  }

  #googleMaps {
    display: inline;
  }
}